<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="modelo">
      <h2 data-cy="modeloDetailsHeading"><span jhiTranslate="concesionarioApp.modelo.detail.title">Modelo</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ modelo.id }}</span>
        </dd>
        <dt><span jhiTranslate="concesionarioApp.modelo.modelo">Modelo</span></dt>
        <dd>
          <span>{{ modelo.modelo }}</span>
        </dd>
        <dt><span jhiTranslate="concesionarioApp.modelo.color">Color</span></dt>
        <dd>
          <span>{{ modelo.color }}</span>
        </dd>
        <dt><span jhiTranslate="concesionarioApp.modelo.potencia">Potencia</span></dt>
        <dd>
          <span>{{ modelo.potencia }}</span>
        </dd>
        <dt><span jhiTranslate="concesionarioApp.modelo.plazas">Plazas</span></dt>
        <dd>
          <span>{{ modelo.plazas }}</span>
        </dd>
        <dt><span jhiTranslate="concesionarioApp.modelo.precio">Precio</span></dt>
        <dd>
          <span>{{ modelo.precio }}</span>
        </dd>
        <dt><span jhiTranslate="concesionarioApp.modelo.marca">Marca</span></dt>
        <dd>
          <div *ngIf="modelo.marca">
            <a [routerLink]="['/marca', modelo.marca?.id, 'view']">{{ modelo.marca?.marca }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/modelo', modelo.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
